.profile-container {
  border: 2px Solid #000000;
  border-radius: 6px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #000000;
  overflow: hidden;
}

.profile-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.profile-img {
  width: 96px;
  background-color: #242424;
  border-radius: 50%;
}

.profile-name {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: bold;
}

.profile-tag {
  color: grey;
}

.profile-location {
  color: grey;
  margin-bottom: 12px;
}

.profile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 498px;
  border-top: 2px solid grey;
  background-color: rgb(220, 220, 220);
}

.profile-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 24px 12px;
  width: 100%;
}

.profile-list-value {
  font-weight: bold;
}

.profile-list-item {
  border-right: 2px solid grey;
}

.profile-list-item:last-child {
  border-right: none;
}
