.friend-container {
  padding: 46px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #000000;
}

.friend-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  min-width: 498px;
}

.friend-list-item {
  border: 2px solid #000000;
  border-radius: 6px;
  min-width: 90px;
  padding: 12px;
}

.friend-small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-name {
  font-weight: 600;
  padding-top: 12px;
}

.friend-status {
  font-size: 14px;
  letter-spacing: 0.04em;
}

.friend-status.online {
  color: green;
}

.friend-status.offline {
  color: red;
}